<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-20">
    <div *ngFor="let task of tasks">
      <div class="max-w-xs rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 inline">{{task.title}}</div>
          <p class="font-bold text-sm mb-2 inline">{{ task.dateTime}}</p>
          <p class="text-gray-700 text-base">
            {{task.description}}.
          </p>
        </div>
        <button (click)="deleteTask(task.id)" class="align-middle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
        </button>
        <div>
          <app-update-target [id]="task.id" [title]="task.title" [description]="task.description" [dateTime]="task.dateTime" [completed]="task.completed"></app-update-target>
        </div>
      </div>
    </div>
  </div>
  